
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(54, 54, 54) */
    
  }
  

.bg-image {
    background-image: url("images/background-image.webp");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
    padding: 10px;
    margin: 0%;
}

.nav-btn {
    color: black;
    text-decoration: none;
    font-size: x-large;
    
}


.my-name {
    text-align: center;
    color: rgb(233, 221, 221);
    font-size: 400%;
    margin-top: 8%;
    padding-bottom: 0%;
    /* margin-bottom: 0%; */
    /* transform: scale(0.94); */
    /* animation: scale 4s forwards cubic-bezier(0.40, 1, 0.5, 1); */
}

.about-me {
    text-align: center;
    width: 100%;
    height: 0px;
    padding-top: 10%;
    padding-bottom: 5%;
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* filter:blur(2px) */
}
.about-me h1 {
    /* position: absolute; */
    top: 20%;
    left: 10%;
    font-size: 6vh;
    
}
.summary-container-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
}

.summary-container {
    align-items: center;
    text-align: center;
    padding-left:50px;
    padding-right:50px;
    width: 75vw;
    background-color:rgb(43, 43, 43);
    border: 2px solid rgb(75, 75, 75);
    border-radius: 10px;
    color: rgb(180, 180, 180);
    top: 88px;
    position: relative;
}
.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(54, 54, 54) */

}

.title {
    font-size:50px;
    color:black;
    /* border-bottom: 3px solid rgb(73, 73, 73); */

}

.skills {
    color:rgb(180, 180, 180);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    /* padding-left: 20px; */
}
.stack-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stack-logo {
    width: 90px;
}

